<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Whitesquare</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    </head>
</head>
<body>

<div id="wrapper">
    <nav>
        <ul class="top-menu">
            <li><a href="/home">ДОМОЙ</a></li>
            <li><a href="/about">О НАС</a></li>
            <li class="active"><a href="/books">КНИГИ</a></li>
            <li><a href="/books/add">ДОБАВИТЬ КНИГУ</a></li>
            <li><a href="/authors">АВТОРЫ</a></li>
            <li><a href="/genres">ЖАНРЫ</a></li>
            <li><a href="/modern">СОВРЕМЕНННОЕ</a></li>
            <li><a href="/classic">КЛАССИКА</a></li>
            <li><a href="/contact">КОНТАКТЫ</a></li>
        </ul>
    </nav>
    <div id="heading"></div>
    <aside></aside>
    <section>
        <blockquote>
            <p>
                ИЗМЕНЕНИЕ
            </p>
        </blockquote>
        <!-- Person edition -->
    </section>

    <form id="edit-form" action="edit.html" th:action="@{/edit(id=${book.id})}" th:method="post" th:object="${book}">
        <h3>Инфо книги:</h3>

        <div class="row">
            <label for="id-input">ID:</label>
            <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value="1" disabled/>
        </div>
        <br>

        <div class="row">
            <label for="book-name-input">Name:</label>
            <input id="book-name-input" name="name" type="text" th:value="*{name}" value="John Doe"/>
            <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong book name error</div>
        </div>
        <br>

        <div class="row">
            <button type="submit">Сохранить</button>
            <a href="/books" th:href="@{/books}"><button type="button">Отмена</button></a>
        </div>
    </form>

</div>
<footer></footer>

</body>
</html>
